@model IEnumerable<BigSchool.Models.Course>
@{
    ViewBag.Title = "Home Page";
}


<div class="row" style="padding-top:50px">
    <div class="col-md-4">
        <ul>
            @foreach (var course in Model)
            {
                <li>
                    @course.DateTime.ToString("dd/MM/yyyy HH:mm") - @course.IdLecturer
                </li>
            }
        </ul>
    </div>
</div>